<div class="checkout">
  <h1>Checkout</h1>
  <p class="message-p">{{ orderMsg }}</p>
  <div class="row">
    <div class="col-sm-7 shipping-address">
      <h3>Add Shipping Address</h3>
      <form #orderData="ngForm" class="common-form">
        <input
          class="form-input"
          type="email"
          placeholder="Enter your Email"
          name="email"
          ngModel
          required
        />
        <input
          class="form-input"
          type="text"
          placeholder="Enter your Address"
          name="address"
          ngModel
          required
        />
        <input
          class="form-input"
          type="text"
          placeholder="Enter your Contact Number"
          name="contact"
          ngModel
          required
        />
        <button
          class="form-button"
          (click)="orderNow(orderData.value)"
          [disabled]="!orderData.valid"
        >
          Order Now
        </button>
      </form>
    </div>
    <div class="col-sm-5">
      <h3>Total Amount: {{ totalPrice }}</h3>
      <h4>Payment Method: <b>Cash On Delivery</b></h4>
    </div>
  </div>
</div>
